<p>Hello,</p>
<br>
<br>
<p>Your summary for yesterday:</p>
<br>
<br>
<p>Imported Files count: <%= @imports_count %>.</p>
<p>Total Certified Riders: <%= @certified_riders_count %>.</p>
<br>
<br>
<p>Thanks,</p>
<p>Bikes Unlimited Team</p>


