<p>Hello <%= @rider.full_name %>,</p>
<br>
<br>
<p>Congratulations! You are certified rider now!</p>
<p>Attached please find you Rider Certificate.</p>
<br>
<br>
<p>Cheers,</p>
<p>Bikes Unlimited team.</p>